body {
    /* padding-left: 240px;
    padding-right: 240px; */
    font-family: Work Sans;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 240px;
    padding-right: 240px;

}

header>ul {
    display: flex;
    padding-right: 100px;
}

header li {
    list-style-type: none;
    margin-right: 20px;

}

header li a {
    text-decoration: none;

}

.play-container {
    display: flex;
}

.play-title {
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    width: 901px;
    height: 700px;
    padding-left: 240px;
    display: grid;
    align-items: center;

    /* display: grid;
    justify-content: space-between;
    align-items: center;
    gap: 95px;
    background: #FF42A5;
    padding-left: 240px;
    padding-right: 240px;
    width: 100%;
    margin: 0px;
    grid-template-columns: repeat(2, 1fr); */
}

.play-title01 {
    /* width: 348px;
    height: 56px; */
    color: #0B0223;
    /* text-align: center; */
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.play-title02 {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.play-image {
    padding-right: 240px;
}

.button {
    display: flex;
    gap: 30px;
    color: white
}

.button-primary {
    /* display: inline-flex; */
    padding: 21px 40px;
    width: auto 156px;
    height: auto 65px;
    align-items: flex-start;
    /* gap: 10px; */
    border-radius: 48px;
    background: #FF42A5;
    /* color: white; */

}

.button-secondary {
    border-radius: 48px;
    color: #4EC5F7;
}

.we-are-gamer-contianer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 240px;
    padding-right: 240px;
    margin-bottom: 120px;
}

.we-are-gamer-image {
    width: 868px;
    height: 489px;
}

.we-are-gamer-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.we-are-gamer-description {
    width: 520px;
    height: 120px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.we-are-gamer-title01 {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
}

.online-game {
    margin-bottom: 48px;
}

.online-game-title {
    text-align: center;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}

.online-game-title01 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.online-game-description {
    text-align: center;
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.four-picture-container {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    gap: 24px;
    align-items: center;
}

.four-picture {
    /* margin-right: 24px; */
}

.four-picture-description {
    height: 60px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.play-instantly {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* column-gap: 265.17px; */
    gap: 265.17px;
    padding-left: 240px;
    padding-right: 240px;
    margin-bottom: 195.83px;
}

.play-instantly-title {
    width: 341px;
    height: 180px;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 24px;
}

.play-instantly-title01 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-description {
    width: 353px;
    height: 90px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
}

.play-instantly-img {
    width: 634.833px;
    height: 650px;
    /* flex-shrink: 0; */
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
}

.play-games {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 249px;
    padding-left: 240px;
    padding-right: 240px;
    margin-bottom: 243px;

}

.play-games-title {
    width: 426px;
    height: 180px;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.play-games-title01 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-games-description {
    width: 483px;
    height: 90px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.careers {
    display: grid;
    justify-content: space-between;
    align-items: center;
    gap: 95px;
    background: #FF42A5;
    padding-left: 240px;
    padding-right: 240px;
    width: 100%;
    margin: 0px;
    grid-template-columns: repeat(2, 1fr);
}

.careers-title {
    width: 426px;
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
}

.careers-description {
    width: 680px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.two-column {
    display: flex;
    gap: 97px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 30px;

}

.two-column-first {
    text-align: left;
    width: 337px;
    height: 240px;
}

.two-column-second {
    text-align: right;
    width: 246px;
    height: 240px;
}

.careers-btn {
    display: inline-flex;
    padding: 21px 40px;
    text-align: center;
    gap: 10px;
    border-radius: 48px;
    background: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    color: #FF42A5;
}

.careers-right-image {}

footer {
    background: #0B0223;
    justify-content: center;
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    justify-content: center;
}

footer ul {

    justify-content: center;

}

footer li {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    list-style-type: none;
    margin-right: 20px;

}

footer li a {
    text-decoration: none;

}